/*CREATE_TASK.HTML*/
#create-task-form{
	width: 400px;
	margin: 100px auto;
	padding: 10px;
	border: 3px solid;
	border-radius: 10px;
	background-color: rgba(164, 168, 209, 0.6);
	
}



/*INDEX.HTML*/
.logos{
	margin: 0px;
	padding: 2px;
	width: 45px;
	height: 45px;
	border-right: 1px solid;
}

#greeting{
	margin-left: 5px;
	font-size: 32px;
	width: 600px;
}
#todays-date{
	display: flex;
	font-size: 30px;
	width: 600px;
	margin-left: 500px;
}
#logout{
	width: 110px;
	font-size: 28px;
	color: black;
	text-decoration: none;
	padding-left: 2px;
	padding-top: 3px;
	margin-left: auto;
	border-left: 1px solid;
}
#logout:hover{
	background-color: rgba(209, 70, 47, 0.8);
}
ul{
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}
aside{
	display: none;
	background-color: rgba(255, 230, 232, 0.9);
	width: 160px;
	height:  710px;
	font-size: 24px;
	padding: 0px 10px;
}
aside form{
	width: 100%;
	font-size: 16px;
}
.text{
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 2px;
}
#filter-btn{
	background: #ACF39D;
	border: 0.5px solid;
	width: 100%;
	height: 30px;
	margin-top: 10px;

}
#filter-btn:hover{
	background: #64E949;

}
.tasks{
	background-color: rgb(255, 184, 51);
	position: relative;
	width: 240px;
	height: 250px;
	border: 0.5px solid;
	border-radius: 10px;
	margin: 20px 35px;
	padding: 5px;
	float: left;

}
#create-task{
	color: black;
	position: fixed;
	left: 3px;
	bottom: 50px;
	margin: 0px;
	padding: 0px;
	width: 50px;
	height: 50px;
	background: #248232;
	border-radius: 50px;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
}

#task-title{
	white-space: nowrap;
	overflow:hidden;
	display: block;
	color: black;
	text-decoration: none;
	font-size: 32px;
	margin: 0px;
}

#task-title:hover{
	text-decoration: underline;
}
#task-deadline{
	margin: 0px;
	font-weight: bold;
	font-size: 16px;
}
#task-description{
	padding-left: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin: 0px;
	height: 100px;
	overflow:hidden;
}

#done{	
	border-bottom-left-radius: 10px;
	border-right: 1px solid;
	left: 0px;
}
#cancel{
	border-bottom-right-radius: 10px;
	right: 0px;
}
#done:hover{	
    background: rgba(95, 173, 86, 0.5);
}
#cancel:hover{
    background: rgba(217, 71, 69, 0.5);
}
.buttons-done-cancel{
	display: inline-box;
	text-align: center;
	height:  30px;
	width: 125px;
	position: absolute;
    bottom: 0;
    background: rgba(71, 64, 86, 0.5);
    border: 0px;	
    border-top: 1px solid;
}
.buttons-done-cancel a{
	color:black;
	margin-top: 20px;
	font-size: 18px;
	text-decoration: none;
}
