#login-form{
	font-size: 16px;
	width: 400px;
	margin: 200px auto;

	padding: 10px;
	border: 3px solid;
	border-radius: 10px;
	background-color: rgba(255, 237, 102, 0.7);
}

#registration-form{
	font-size: 16px;
	width: 700px;
	margin: 120px auto;

	padding: 10px;
	border: 3px solid;
	border-radius: 10px;
	background-color: rgba(255, 237, 102, 0.7);
	
}

button{
	display: flex;
	background: #ACF39D;
	border: 1px solid;
	width: 150px;
	height:  40px;
	margin: 0px auto;
	align-items: center;
  	justify-content: center;
}
button:hover{
	background: #64E949;

}
span{
	font-size: 16px;
}
span a{
	color: black;
}