html{
	
	width: 100%;
	height: 100vh;
	background: url(../images/background2.jpg) no-repeat top center / cover fixed;
	font-family: monospace;
	
}
nav{
	background: rgba(156, 246, 246, 0.7) ;
	height: 150px;
	width: 100%;
	border-bottom: 1px solid;
}
nav h1{
	margin: 0px;
}
body{
	margin: 0px;
	display: flex;
  	flex-direction: column;
  	height: 100vh;
}
img{
	width: 100px;
	height: 90%;
	margin: 3px;
}
#main-header{
	vertical-align: top;
	line-height: 1.2em;
	height: 70px;
	font-size: 78px;
}
#top-nav{
	height: 100px;
}
#bottom-nav{
	height: 50px;
	border-top: 1px solid;
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
}
footer{
	font-size: 16px;
	background: rgb(156, 246, 246);
	height: 30px;
	margin-top: auto;
}
#greeting{
	font-size: 28px;
}
#main{
	display: flex;
	flex-direction: row;
}