{% extends "base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/journal-styles.css' %}">
	<meta name="description" content="This is creation task template">
	<title>Detail</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
	<form id="create-task-form" method="POST">{% csrf_token %}
		<h3>Details</h3>
		{{ form.non_field_errors }}
		{% if errors %}
			<p>Something went wrong, please try again later!</p>
        {% endif %}
		<h3>Create a new task</h3>
		{{ form.title.label }}
		<br />
		{{ form.title }}
		<br />
		{{ form.description.label }}
		{{ form.description }}
		<br />
		{{ form.deadline.label }}
		{{ form.deadline_choice }}
		{{ form.deadline }}
		<br />
		<button type="submit">Save</button>
	</form>
	

	<script src="{% static 'js/main.min.js' %}" type="text/javascript"></script>

{% endblock %}	