{% extends "base.html" %}
{% load static %}


{% block head %}
	<link rel="stylesheet" href="{% static 'css/journal-styles.css' %}">
	<meta name="description" content="This is home template">
	<title>Home</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
{% endblock %}

{% block userinfo %}
		<img id="filter-logo" class="logos" src="{% static 'images/filter_logo.png' %}" alt="filter">
		<a href="{% url 'notes' %}"><img class="logos" src="{% static 'images/notes_logo.png' %}" alt="notes"></a>
		<a href="{% url 'calendar' %}">
			<img  class="logos" src="{% static 'images/calendar_logo.png' %}" alt="calendar"></a>
		<a href="{% url 'tracker' %}">
			<img  class="logos" src="{% static 'images/tracker_logo.png' %}" alt="tracker"></a>

		<span id="greeting">Hello, {{ user.username }}</span>
		<span id="todays-date">Today: </span>
		<a id="logout" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
	<aside>
		<h2 class="text">Filter</h2>
		<form method="GET" action="{% url 'homepage' %}">
			{{ form.errors }}
			{{ form.non_field_errors }}
			<p class="text">{{ form.status.label }}</p>
			{{ form.status }}			
			<p class="text">{{ form.deadline.label }}</p>
			{{ form.deadline_choice }}
			{{ form.deadline }}
			<br />
			<button id="filter-btn">Filter</button>
		</form>
		
	</aside>
	<ul>
		{% for task in tasks %}
		<li class="tasks">
			<a href="{% url 'edit_task' task.id %}" id="task-title">{{ task.title }}</a>
			<p id="task-description">{{ task.description }}</p>
			<p id="task-deadline">Deadline: {{ task.deadline|date:"d-m-Y"  }}</p>
			<p id="task-status">Status: {{ task.status }}</p>
			
				<div id="done" class="buttons-done-cancel">
					<a href="{% url 'done_task' task.id %}" >Done</a>
				</div>
				<div id="cancel" class="buttons-done-cancel">
					<a href="{% url 'cancel_task' task.id %}" >Cancel</a>
				</div>
			
		</li>

		{% endfor %}
	</ul>
	<a id="create-task" href="{% url 'create_task' %}">+</a>




	<script src="{% static 'js/main.min.js' %}" type="text/javascript"></script>
{% endblock %}