{% extends "base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/journal-styles.css' %}">
	<meta name="description" content="This is notes template">
	<title>Notes</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

{% endblock %}

{% block userinfo %}
		<img id="filter-logo" class="logos" src="{% static 'images/filter_logo.png' %}" alt="filter">
		<a href="{% url 'notes' %}"><img class="logos" src="{% static 'images/notes_logo.png' %}" alt="notes"></a>
		<a href="{% url 'calendar' %}">
			<img  class="logos" src="{% static 'images/calendar_logo.png' %}" alt="calendar"></a>
		<a href="{% url 'tracker' %}">
			<img  class="logos" src="{% static 'images/tracker_logo.png' %}" alt="tracker"></a>

		<span id="greeting">Hello, {{ user.username }}</span>
		<span id="todays-date">Today: </span>
		<a id="logout" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
	<h1>COMMING SOON</h1>
	<script src="{% static 'js/main.min.js' %}" type="text/javascript"></script>
{% endblock %}	