{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/users-styles.css' %}">
	<meta name="description" content="This is login template">
	<title>Login</title>
{% endblock %}



{% block content %}
	<form id="login-form" method="POST">{% csrf_token %}
		<h2>Log In</h2>
		<span>Need an account?
			<a href="{% url 'registration' %}">Sign in</a>
		</span>
		{{ form.as_p }}
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
		<button type="submit">Login</button>
	</form>

{% endblock %}