{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/users-styles.css' %}">
	<meta name="description" content="This is registration template">
	<title>Registration</title>
{% endblock %}



{% block content %}
	<form id="registration-form" method="POST">{% csrf_token %}
		<h2>Create account</h2>
		<span>Already have an account?
			<a 
			href="{% url 'login' %}">Log in</a>
		</span>
		{{ form.as_p }}
	{% if error %}
		<p>{{ error }}</p>
	{% endif %}
	<button type="submit">Registrate</button>
	</form>

{% endblock %}