{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link href="{% static 'css/base_style.css' %}" rel="stylesheet">
		{% block head %}
			<meta name="description" content="This is a base template for another html pages">
	 		<title>Bujo</title>
	 	{% endblock %}
	 		<nav>
	 			<div id="top-nav">
	 				<a href="{% url 'homepage' %}"><img id="logo" src="{% static 'images/logo.png' %}"></a>
	 				<span id="main-header">BuJo</span>
	 			</div>
	 			<div id="bottom-nav">		
	 				{% block userinfo %}{% endblock %}
	 			</div>
	 		</nav>
	</head>
	<body>
		<div id="main">
			{% block content %}
				
				

			{% endblock %}
		</div>
		<footer>&copy; 2022 Bujo, Lublin. All rights reserved.</footer>
	</body>
</html>